<!--<button mat-raised-button (click)="openDialog()">Pick one</button>
<button mat-raised-button (click)="add()">Add</button>-->

<div class="upper">
  <app-pdf-list [files]="files" (messageEvent)="receiveMessage($event)"></app-pdf-list>
</div>

<div class="lower">
  <div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />   
    <mat-icon class="icon">cloud_upload</mat-icon>
  </div>
</div>